body {
    background-color: aliceblue;
}

h1 {
    background-color:dodgerblue;
    color:aliceblue;
    text-align: center;
}

label {
    color: black;
}

.resultado {
    font-weight: bold;
}

output {
    color:dodgerblue;
}