body {
    background-color: aliceblue;
}

h1 {
    background-color:dodgerblue;
    color:aliceblue;
    text-align: center;
}

label {
    color: black;
}

.resultado {
    font-weight: bold;
}

output {
    color:dodgerblue;
}

#barra {
    display: inline-block;
    width: 0;
    height: 16px;
    background: dodgerblue;
    border-radius: 3px;
}