body {
    color:white;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    padding: 10px;

}

h1 {
    color:white;
    text-align: center;
    font-size:100px;
}

.home__hero__header-title span {
    color:yellow;
}

@media (min-width: 200px) and (max-width: 550px) {
    h1{
        font-size:35px
    }      
}

p {
    font-size: 40px
}

label {
    color:white;
    font-size: 25px;
}

@media (min-width: 200px) and (max-width: 550px) {
    label{
        font-size:16px
    }
}

.resultado {
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 200px) and (max-width: 550px) {
    .resultado{
        font-size:20px
    }
}

output {
    color: yellow;
}

#barra {
    display: inline-block;
    width: 0;
    height: 16px;
    background: yellow;
    border-radius: 3px;
}

.eleito {
    color: yellow;
}

/* Cria badge */
.eleito::after {
    content: 'Eleito';
    background: yellow;
    color: black;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

