body {
    color:purple;
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
}

ul {
    padding: 10px;

}

h1 {
    color:purple;
    text-align: center;
    font-size:100px;
}

.home__hero__header-title span {
    color:orangered;
}

@media (min-width: 200px) and (max-width: 550px) {
    h1{
        font-size:30px
    }      
}

p {
    font-size: 20px;
}

a {
    font-size: 20px
}

.botao{
    color: white;
    background-color: purple;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover{
    background: orangered;
}

label {
    color:purple;
    font-size: 25px;
}

@media (min-width: 200px) and (max-width: 550px) {
    label{
        font-size:16px
    }
}

.resultado {
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 200px) and (max-width: 550px) {
    .resultado{
        font-size:20px
    }
}

output {
    color: orangered;
}

#barra {
    display: inline-block;
    width: 0;
    height: 16px;
    background: orangered;
    border-radius: 3px;
}

.eleito {
    color: orangered;
}

/* Cria badge */
.eleito::after {
    content: 'Eleito';
    background: orangered;
    color: black;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

